@page
@model Rekordpool.Pages.Pool.CreateModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Track</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Track.ArtistName" class="control-label"></label>
                <input asp-for="Track.ArtistName" class="form-control" />
                <span asp-validation-for="Track.ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.Title" class="control-label"></label>
                <input asp-for="Track.Title" class="form-control" />
                <span asp-validation-for="Track.Title" class="text-danger"></span>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="form-group">
                    <label asp-for="Track.AddedBy" class="control-label"></label>
                    <input asp-for="Track.AddedBy" class="form-control" value = "@User.Identity.Name" readonly />
                    <span asp-validation-for="Track.AddedBy" class="text-danger"></span>
                </div>
            }
            else {  // idk
                <div class="form-group">
                    <label asp-for="Track.AddedBy" class="control-label"></label>
                    <input asp-for="Track.AddedBy" class="form-control" />
                    <span asp-validation-for="Track.AddedBy" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Track.Link" class="control-label"></label>
                <input asp-for="Track.Link" class="form-control" />
                <span asp-validation-for="Track.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
