@page
@model IndexModel
@{
    ViewData["Title"] = "Rekordpool Home";
}

<div class = "text-center">
    <h1 class = "display-4">Welcome to Rekordpool!</h1>
    <p>"Pool" link contains collective track list.  Please create an account to use this feature.</p>
    <p>You may add any track with a valid link, but you may only delete or edit tracks you have added.</p>
</div>
