@page
@model IndexModel
@{
    ViewData["Title"] = "Rekordpool Home";
}

<div class = "text-center">
    <h1 class = "display-4">Welcome to Rekordpool!</h1>
    
    <br>
    <p>
        See 
        <a href="./Help">Help</a>
         page for usage instructions.
    </p>
    <p>
        If you encounter any problems, please 
        <a href="https://github.com/rottney/rekordpool/issues/new", target="_blank">raise an issue</a>
         with the developer 🤙
    </p>
</div>
